* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(116, 145, 119);
  color: rgb(129, 129, 129);
  font-family: "Titillium Web";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "logo li-blog li-about li-shop li-join"
    "h1 h1 h1 h1";
  color: rgb(196, 108, 9);
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.801),
      rgba(46, 46, 46, 0.801)
    ),
    url("/img/20200523_095811.jpg");
  background-size: cover;
  background-position: unset;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-top: 350px;
  text-align: center;
  text-shadow: 4px 4px rgba(4, 49, 0, 0.719);
}

/* ****************** */
/* ****** NAVI *****  */
/* ****************** */

.main-nav {
  max-width: 1704px;
  margin-top: 55px;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-links {
  float: left;
  margin-left: 300px;
}

.nav-links a {
  margin-left: 150px;
}

.nav-center {
  float: none;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.nav-center img {
  width: 75px;
  border-radius: 50%;
}

.nav-right {
  float: right;
  margin-right: 65px;
}

.nav-right a {
  margin-right: 150px;
}

.main-nav a:link,
.main-nav a:visited {
  color: rgb(253, 138, 6);
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:active {
  color: rgb(30, 176, 243);
  border-bottom: 2px solid;
  transition: bottom-border 0.8s, color 0.3s;
}

.li-blog {
  grid-area: li-blog;
}

.li-about {
  grid-area: li-about;
}

.logo {
  grid-area: logo;
}

.li-shop {
  grid-area: li-shop;
}

.li-join {
  grid-area: li-join;
}

/* ****************** */
/* ****** BODY *****  */
/* ****************** */

.container {
  display: grid;
  height: 200vh;
  grid-template-columns: 0.3fr 1.2fr 1.2fr 0.3fr;
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 0.3fr;
  grid-template-areas:
    "about about about about-img"
    "post1-img post1 post1 post1"
    "post2 post2 post2 post2-img"
    "post3-img post3 post3 post3"
    "join1-img join join join3-img"
    "footer footer footer footer";
  grid-gap: 4px;
  color: #ddd;
  padding: 100px 150px 0 150px;
}

/* ABOUT */

.about {
  grid-area: about;
}

.about-img {
  /* background: rgb(165, 96, 96); */
  grid-area: about-img;
}
.about-img img {
  margin-left: 30px;
  border-radius: 5%;
  background-image: url(/img/20200227_124348.jpg);
}

/* POSTS */

.post1 {
  /* background: rgba(209, 126, 2, 0.795); */
  grid-area: post1;
}

.post2 {
  /* background: rgba(52, 99, 187, 0.795); */
  grid-area: post2;
}

.post3 {
  /* background: rgba(209, 188, 2, 0.795); */
  grid-area: post3;
}

.post1-img {
  margin-right: 30px;
  grid-area: post1-img;
}

.post1-img img {
  margin-left: 20px;
  border-radius: 40%;
}

.post2-img {
  /* background: rgb(71, 76, 85); */
  grid-area: post2-img;
}

.post2-img img {
  margin-left: 5px;
  border-radius: 25%;
}

.post3-img {
  /* background: rgb(117, 115, 91); */
  grid-area: post3-img;
}

.post3-img img {
  margin-left: 80px;
  border-radius: 10%;
}

/* FORM */

.join {
  background: rgb(2, 195, 209);
  grid-area: join;
}

.join1-img {
  float: left;
  grid-area: join1-img;
}

.join2-img {
  grid-area: join2-img;
}

.join3-img {
  float: right;
  grid-area: join3-img;
}

/* ****************** */
/* **** FOOTER *****  */
/* ****************** */

footer {
  background: #333;
  padding: 50px;
  font-size: 80%;
  text-align: center;
  grid-area: footer;
}

.foot a {
  color: rgb(129, 129, 129);
}
.footer-nav {
  margin-left: 300px;
}

.footer-nav a {
  float: left;
  margin-top: -30px;
  margin-left: 40px;
  font-size: 125%;
  color: rgb(129, 129, 129);
}

.social-icons {
  float: right;
  margin-right: 350px;
  margin-top: -40px;
  font-size: 200%;
}

.social-icons a {
  float: right;
  margin-right: 50px;
  transition: color 0.2s;
}

.footer-nav a:visited,
.footer-nav a:link,
.ion-social-instagram-outline a:link,
.ion-social-instagram-outline a:visited,
.ion-social-youtube-outline a:link,
.ion-social-youtube-outline a:visited {
  transition: color 0.5s;
}

.footer-nav a:hover {
  color: rgb(30, 176, 243);
}

.ion-social-instagram-outline:hover {
  color: #e95950;
}

.ion-social-youtube-outline:hover {
  color: #e62117;
}

@media only screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
    /* grid-template-rows: ; */
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.5fr 0.3fr;
    grid-template-areas:
      "nav"
      "about"
      "about-img"
      "post1"
      "post1-img"
      "post2"
      "post2-img"
      "post3"
      "post3-img"
      "join"
      "footer";
  }
}
