* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(71, 107, 78);
  color: rgb(129, 129, 129);
  font-family: "Titillium Web";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

header {
  display: grid;
  color: rgb(196, 108, 9);
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.616),
      rgba(46, 46, 46, 0.616)
    ),
    url("../img/20200523_095811.jpg");
  background-size: cover;
  background-position: unset;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 70px;
  margin-top: 50px;
  text-align: center;
  text-shadow: 4px 4px rgba(4, 49, 0, 0.719);
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

/* ****************** */
/* ****** NAVI *****  */
/* ****************** */

.main-nav {
  margin: 65px;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: center;
}

.nav-center {
  float: none;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

.nav-center img {
  width: 75px;
  border-radius: 50%;
}

.main-nav a:link,
.main-nav a:visited {
  color: rgb(253, 138, 6);
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:active {
  color: rgb(30, 176, 243);
  border-bottom: 2px solid;
  transition: bottom-border 0.8s, color 0.3s;
}

/* ****************** */
/* ****** BODY *****  */
/* ****************** */

.container {
  display: grid;
  height: 250vh;
  grid-template-columns: 0.3fr 1.2fr 1.2fr 0.3fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "about about about about-img"
    "post1-img post1 post1 post1"
    "post2 post2 post2 post2-img"
    "post3-img post3 post3 post3"
    "join1-img join join join2-img";
  grid-gap: 10px;
  color: #ddd;
  padding: 100px 150px 0 350px;
  max-width: 100em;
}

/* ABOUT */

.about {
  grid-area: about;
}

.about-img {
  grid-area: about-img;
}
.about-img img {
  margin-left: 30px;
  border-radius: 5%;
  background-image: url(/img/20200227_124348.jpg);
}

/* POSTS */

.post1 {
  padding-bottom: 50px;
  grid-area: post1;
}

.post2 {
  padding-bottom: 50px;
  grid-area: post2;
}

.post3 {
  padding-bottom: 50px;
  grid-area: post3;
}

.post1-img {
  margin-right: 30px;
  padding-bottom: 50px;
  grid-area: post1-img;
}

.post1-img img {
  margin-left: 20px;
  border-radius: 50%;
}

.post2-img {
  padding-bottom: 50px;
  grid-area: post2-img;
}

.post2-img img {
  margin-left: 5px;
  border-radius: 25%;
}

.post3-img {
  padding-bottom: 50px;
  grid-area: post3-img;
}

.post3-img img {
  margin-left: 80px;
  border-radius: 10%;
}

/* FORM */

.join {
  grid-area: join;
}

.join1-img {
  grid-area: join1-img;
}

.join2-img {
  grid-area: join3-img;
}

/* ****************** */
/* **** FOOTER *****  */
/* ****************** */

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: #333;
  padding: 50px;
  font-size: 80%;
}

.foot a {
  color: rgb(129, 129, 129);
}

.footer-nav {
  float: left;
  margin-left: -15rem;
}

.footer-nav a {
  padding: 20px;
  font-size: 125%;
  color: rgb(129, 129, 129);
}

.social-icons {
  float: right;
  margin-right: -12rem;
  font-size: 200%;
}

.social-icons a {
  padding: 20px;

  transition: color 0.2s;
}

.footer-nav a:visited,
.footer-nav a:link,
.ion-social-instagram-outline a:link,
.ion-social-instagram-outline a:visited,
.ion-social-youtube-outline a:link,
.ion-social-youtube-outline a:visited {
  transition: color 0.5s;
}

.footer-nav a:hover {
  color: rgb(30, 176, 243);
}

.ion-social-instagram-outline:hover {
  color: #e95950;
}

.ion-social-youtube-outline:hover {
  color: #e62117;
}

/* ****************** */
/* **** QUERIES ****  */
/* ****************** */

@media only screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
    /* grid-template-rows: ; */
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.5fr 0.3fr;
    grid-template-areas:
      "nav"
      "about"
      "about-img"
      "post1"
      "post1-img"
      "post2"
      "post2-img"
      "post3"
      "post3-img"
      "join1-img"
      "join"
      "join2-img";
  }
}
